body {
  background-color: #FFFFF8;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #f0544f;
}

.navbar  a, .btn a {
  text-decoration: none;
}

.navbar-brand {
  font-family: Palatino;
}

#people .col-md-12 h2 {
  display: none;
}

#uni-logos h1,
#uni-logos h2,
#organizers h2,
#organizers h1 {
  text-align: center;
  color: #313131;
}
#uni-logos ul,
#organizers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#uni-logos li {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  padding: 2%;
}
#organizers li {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  padding: 1%;
}

#uni-logos img {
  display: inline;
  max-height: 75px;
}
#organizers img {
  display: inline;
  height: 69px;
}
